* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: "Montserrat";
}

/* NAV */

.container-navbar {
    display: flex;
    justify-content: center;
    height: 10%;
    align-items: center;
    position: fixed;
    overflow: hidden;
    top: 0px;
    width: 100%;
    background-color: rgba(255,255,255, 0.9);
}

.container-navbar ul li span {
    margin-right: 5px;
    margin-left: 5px;
}

.container-navbar ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0px;
    padding-top: 10px;
    width: 100%;
}

.container-navbar ul li {
    padding-left: 100px;
    padding-right: 100px;
    font-size: 26px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.container-navbar ul li:hover {
    transform: scale(1.1);
}

.container-navbar ul li a {
    color: #8aa3b8;
}

.container-navbar ul li a:hover {
    color: #8aa3b8;
    text-decoration: none;
}

/* BURGER */

#burger-open, #burger-close {
    display: none;
    position: fixed;
}

/* HEADER */

header {
    color: #8aa3b8;
    height: 100vh;
}

header .container-title {
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: flex-end;
}

header .title {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

header .title img {
    width: 500px;
    padding-bottom: 10px;
}

header .title hr {
    border: 2px solid #8aa3b8;
}

header .title .line-1 {
    width: 5%;
}

header .title .line-2 {
    width: 100%;
    margin-left: 50px;
}

header .title h1 {
    font-size: 35px;
    width: 100%;
    margin: 0px;
}

header .foot {
    display: flex;
    height: 50%;
    background-color: #8aa3b8;
    color: white;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

header .foot h2 {
    font-size: 40px;
    width: 0px;
}

header .foot .container-img {
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
    width: auto;
    height: 100%;
}

header .foot .container-img img {
    object-fit: cover;
    height: 100%;
}

/* MAIN */

main {
    height: 700px;
}

/* Primer bolque de contenido */

main .first-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50vh;
    background-color: #cfe1e6;
    padding-right: 2%;
}

main .first-content .container-first-text {
    display: flex;
    flex-direction: column;
    color: #8aa3b8;
    text-align: center;
    width: 100vw;
    height: 100%;
    align-items: center;
    justify-content: center;
}

main .first-content .container-first-text h1 {
    font-size: 50px;
    margin: 0px;
}

main .first-content .smile {
    width: 8%;
    margin-left: 1%;
}

main .first-content .underline {
    height: 6%;
    width: 410px;
    margin-bottom: 2%;
    transform: rotate(4deg);
}

main .first-content .container-first-text p {
    margin: 0px;
    font-size: 26px;
    width: 90%;
}

main .first-content .container-tablet {
    height: 100%;
    width: 40vw;
    display: flex;
    align-items: center;
}

main .first-content .container-tablet .tablet {
    height: 120%;
    object-fit: contain;
}

/* Segundo bloque de contenido */

main .second-content {
    display: flex;
    justify-content: space-between;
    height: 80vh;
    background-color: white;
    padding-right: 2%;
    padding-bottom: 2%;
}

/* FORMULARIO DE CONTACTO */

main .container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 30%;
    color: #8aa3b8;
    padding: 1%;
}

main .container-form form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

main .container-form form input, textarea {
    margin-bottom: 2.5px;
    margin-top: 2.5px;
    border: 2px solid #8aa3b8;
    border-radius: 8px;
    padding: 10px;
    width: 90%;
    resize: none;
}

main .container-form .container-title-form {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 90px;
    position: relative;
    justify-content: center;
    margin-bottom: 25px;
    margin-top: 25px;
}

main .container-form h2 {
    font-size: 40px;
    margin: 0px;
}

main .container-form form p {
    font-size: 25px;
    margin: 0px;
}

main .container-form .underline-form {
    position: absolute;
    bottom: 5%;
    right: 0;
    width: 30%;
}

main .container-form .arrow-form {
    position: absolute;
    top: 0;
    right: 15%;
    transform: rotate(-5deg);
    width: 20%;
}

/* TEXTO */

main .second-content .container-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

main .second-content .container-text .container-second-text {
    display: flex;
    font-size: 35px;
    align-items: center;
}

main .second-content .container-text .container-second-text .rotate {
    writing-mode: vertical-rl;
    left: 0;
    font-size: 60px;
    transform: rotate(-180deg);
    color: #8aa3b8;
}

main .second-content .container-text .container-second-text .rotate span {
    font-size: 70px;
}

main .second-content .container-text .container-second-text ul {
    list-style: none;
    color: #cfe1e6;
    padding: 0px;
    margin-bottom: 70px;
    position: absolute;
    padding-left: 80px;
}

main .second-content .container-text .container-extra-text {
    font-size: 60px;
    display: flex;
    color: #8aa3b8;
    padding-left: 80px;
    padding-top: 350px;
    position: absolute;
    width: 100%;
}

main .second-content .container-text .container-extra-text .extra-text {
    height: 50px;
}

main .second-content .container-text .container-extra-text .extra-text .p1 {
    margin: 0px;
    position: absolute;
    bottom: 10%;
}

main .second-content .container-text .container-extra-text .extra-text .p2 {
    margin: 0px;
    position: absolute;
}

main .container-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

main .container-icons img {
    width: 70px;
    margin-top: 5%;
    margin-bottom: 5%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

main .container-icons img:hover {
    transform: scale(1.1);
}

@media (max-width: 1500px) {
    
    /* HEADER */

    header .foot {
        padding-right: 0%;
        overflow: hidden;
    }

    header .foot h2 {
        font-size: 30px;
    }

    header .foot .container-img {
        margin-left: 40%;
    }

    /* MAIN */

    main .first-content .container-tablet {
        justify-content: center;
    }

    main .first-content .container-first-text h1 {
        font-size: 200%;
    }

    main .first-content .container-first-text p {
        font-size: 100%;
    }

    main .first-content .underline {
        width: 270px;
    }

    main .second-content .container-text .container-second-text {
        font-size: 23px;
    }

    main .second-content .container-text .container-second-text .rotate {
        font-size: 40px;
    }

    main .second-content .container-text .container-second-text .rotate span {
        font-size: 50px;
    }

    main .second-content .container-text .container-extra-text {
        font-size: 40px;
        padding-top: 230px;
        padding-left: 60px;
    }

    main .second-content .container-text .container-second-text ul {
        margin-bottom: 55px;
        padding-left: 60px;
    }

    main .container-form h2 {
        font-size: 30px;
    }

    main .container-form form p {
        font-size: 20px;
    }

    main .container-icons img {
        width: 50px;
    }

    main .container-form .underline-form img {
        width: 80px;
    }
    
    main .container-form .arrow-form img {
        width: 70px;
    }

    main .container-form .container-title-form {
        height: 70px;
    }


}

@media (max-width: 1100px) {

    /* NAV */

    .container-navbar ul li {
        padding-left: 60px;
        padding-right: 60px;
    }

    /* MAIN */

    main .container-form {
        width: 35%;
    }

    main .container-form .container-title-form {
        height: 50px;
    }

    main .container-form h2 {
        font-size: 22px;
    }

    main .second-content .container-text .container-second-text {
        font-size: 18px;
    }

    main .second-content .container-text .container-second-text .rotate {
        font-size: 30px;
    }

    main .second-content .container-text .container-second-text .rotate span {
        font-size: 35px;
    }

    main .second-content .container-text .container-extra-text {
        font-size: 30px;
        padding-top: 160px;
        padding-left: 45px;
    }

    main .second-content .container-text .container-second-text ul {
        margin-bottom: 45px;
        padding-left: 50px;
    }

    main .container-icons img {
        width: 40px;
    }

    main .second-content .container-text .container-extra-text {
        padding-top: 190px;
        padding-left: 45px;
    }

    main .second-content .container-text .container-extra-text .extra-text .p1 {
        bottom: 15%;
    }

}

@media (max-width: 900px) {

    /* NAV */

    .container-navbar {
        display: none;
    }

    /* BURGER */

    .container-burger {
        display: flex;
        justify-content: flex-end;
    }

    #burger-open, #burger-close {
        display: block;
        background: transparent;
        border: none;
        padding: 10px;
    }

    #burger-open img, #burger-close img {
        width: 35px;
    }

    #nav-bar {
        opacity: 0;
        visibility: hidden;

        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        background-color: white;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        width: 60vw;
        height: 100vh;
        justify-content: flex-start;
        z-index: 1;
    }

    #nav-bar.visible {
        opacity: 1;
        visibility: visible;
    }

    #nav-bar ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: 100%;
        width: 100%;
        margin: 0px;
        padding-bottom: 10px;
        padding-top: 50px;
    }

    #nav-bar ul li {
        font-size: 16px;
        padding: 0px;
        border-bottom: 1px solid #8aa3b8;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
    }


    /* HEADER */

    header .foot .container-img {
        margin-left: 50%;
    }

}

@media (max-width: 800px) {

    .line-1 {
        display: none;
    }

    .line-2 {
        margin-left: 2%!important;
    }

    header .title img {
        width: 350px;
    }

    header .title h1 {
        font-size: 24px;
    }

    .first-content {
        padding: 0px!important;
    }

    .first-content .container-tablet {
        display: none!important;
    }

    .second-content {
        justify-content: center!important;
        padding: 0px!important;
        flex-direction: column;
        align-items: center; 
        height: 60vh!important;
    }

    .second-content .container-form {
        width: 50%;
    }

    .second-content .container-form .container-title-form {
        height: 60px;
    }

    .second-content .container-form .container-title-form h2 {
        font-size: 28px;
    }

    .second-content .container-text {
        display: none!important;
    }

    .second-content .container-icons {
        flex-direction: row;
        align-items: flex-end;
    }

    .second-content .container-icons img {
        width: 60px;
    }

    .second-content .container-icons a {
        padding: 20px;
    }

}

@media (max-width: 600px) {

    .second-content .container-form {
        width: 80%;
    }

}

@media (max-width: 500px) {

    /* HEADER */

    .line-2 {
        display: none;
    }

    header {
        height: 80vh!important;
    }

    header .container-title {
        height: 45%;
        align-items: flex-start;
    }

    header .title {
        width: 100%;
        justify-content: center;
    }

    header .title img {
        width: 300px!important;
    }

    header .title h1 {
        font-size: 20px!important;
    }

    header .foot {
        height: 55%;
    }

    header .foot .container-img {
        content: url("./libs/img/agua-mobile.png");
        margin-right: 0px;
        margin-left: 60%;
    }

    header .foot h2 {
        font-size: 26px;
    }
    
    /* MAIN */

    main {
        height: 100vh;
    }

    main .first-content {
        height: 50vh!important;
    }

    main .first-content .container-first-text h1 {
        font-size: 28px;
    }

    main .first-content .container-first-text p {
        font-size: 14px;
    }

    main .first-content .underline {
        width: 230px!important;
    }

    main .first-content .smile {
        width: 6%;
    }

    main .second-content .container-icons {
        height: auto;
    }

    main .second-content .container-icons img {
        width: 50px;
    }

}

@media (max-width: 380px) {

    header .title img {
        width: 260px!important;
    }

    header .title h1 {
        font-size: 19px!important;
    }

}