* {
    font-weight: normal;

}

body {

    font-family: "Montserrat";
}

/* HEADER */

header {
    height: 0px;
}

/* MAIN */

main {
    position: relative;
}

main .container-projects-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    position: relative;
    overflow: hidden;
    padding: 0rem;
    padding-top: 2rem;
}

main .line {
    position: absolute;
    left: 100px;
    width: 22px;
    bottom: 0%;
    display: none;
}

/* Primer texto */

main .text-project-1 {
    transform: rotate(-90deg);
    color: #497078;
    width: auto;
    height: auto;
}

main .text-project-1 h1 {
    font-size: 100px;
    margin: 0px;
    font-weight: normal;
}

main .text-project-1 li {
    list-style-type: none;
    font-size: 30px;
}

main .text-project-1 li::before {
    content: "-" " ";
}

/* Tarjetas de proyectos */

main .cards-project-1 {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 350px;
    aspect-ratio: 16/9;
    background-color: #cfe1e6;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin: 1%;
    color: #ffff;
}
  
.card i {
    font-size: 35px;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    position: absolute;
    right: 0%;
    bottom: 0%;
    color: white;
}
  
.card__image {
    width: 100%;
    height: 100%;
}
  
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}
  
.card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #497078;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
  
.card:hover .card__content {
    transform: rotateX(0deg);
}
  
.card__title {
    margin: 0;
    font-size: 16px;
    color: #333;
    font-weight: 700;
}
  
.card__description {
    margin: 10px 0 10px;
    font-size: 8px;
    color: #777;
    line-height: 1.4;
}
  
.card__button {
    font-size: 10px;
    padding: 6px;
    border-radius: 8px;
    background: #777;
    border: none;
    color: white;
}

.card h1 {
    font-size: 28px;
}


/* SLIDER */

.mySlider {
    display: none;
}

.firstCards {
    transition-duration: 5s;
}

.secondCards {
    transition-duration: 5s;
}

.mySlider button {
    all: unset;
    background-color: transparent;
    border: none;
}

/* CONTENIDO */

.container-projects-2 {
    background-color: #8aa9a7;
    color: #497078;
    width: 100%;
}

.container-projects-2 .title-2 {
    display: flex;
    flex-direction: column;
    align-items: left;
    position: relative;
    height: 30rem;
    justify-content: center;
    overflow: hidden;
}

.line-1 {
    position: absolute;
    width: 19rem;
    left: 0%;
    top: 15rem;
}

.line-2 {
    position: absolute;
    width: 50rem;
    overflow: hidden;
    left: 1180px;
    top: 0%;
}

.uno {
    position: absolute;
    left: 15rem;
    top: 5rem;
    font-weight: normal;
    font-size: 140px;
}

.uno span {
    font-size: 80px;
}

.dos {
    position: absolute;
    top: 13.5rem;
    left: 22rem;
    font-weight: normal;
    font-size: 140px;
    margin-top: 1rem;
}

.tres {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 13rem;
    left: 69rem;
    font-size: 80px;
}

.tres img {
    width: 40rem;
    height: auto;
}

.smile-project {
    position: absolute;
    width: 55px;
    left: 1000px;
    top: 295px;
}

/* PROCESO */

.process {
    color: white;
    display: flex;
    height: 50rem;
    align-items: center;
    justify-content: center;
}

.process-numbers .number {
    display: flex;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 2rem;
}

.process-numbers h2 {
    font-size: 110px;
    margin: 0px;
}

.process-numbers p {
    font-size: 30px;
    margin-bottom: 1.2rem;
    margin-left: 0.5rem;
    line-height: 2rem;
}

.process-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-left: 5rem;
    margin-bottom: 2rem;
}

.process-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 550px;
    height: 130px;
    padding: 0rem!important;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

.process-block p {
    font-size: 28px;
    margin: 0px;
}

.pb-3 {
    display: flex;
    align-items: flex-start;
    padding-left: 3rem!important;
}

.pb-3 .mini-1 {
    position: absolute;
    right: 3rem;
    bottom: 0.5rem;
    text-align: center;
}

.pb-3 .mini-1 p {
    font-size: 16px;
}

.pb-4 .mini-2 p {
    font-size: 16px;
    text-align: center;
}

.italic {
    font-style: italic;
}

.start-arrow {
    position: absolute;
    bottom: -10rem;
    width: 6rem;
    z-index: 1;
}

/* EMPECEMOS */

.start {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #8aa9a7;
    height: 110vh;
    color: white;
    position: relative;
    padding-left: 10rem;
    padding-top: 15rem;
}

.start-text {
    z-index: 1;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    line-height: 4rem;
}

.start-text p {
    font-size: 100px;
}

.start-text h1 {
    font-size: 200px;
}

.start-buttons {
    display: flex;
    flex-direction: column;
    z-index: 1;
    margin: 1rem;
    margin-bottom: 4rem;
}

.start-buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44rem;
    height: 8rem;
    border: none;
    border-radius: 5rem;
    margin: 1rem;
    font-size: 44px;
}

.start-buttons .btn-meeting {
    background-color: #497078;
    color: white
}

.start-buttons .btn-plans {
    color: #497078;
}

.curve {
    position: absolute;
    width: 100%;
    bottom: 5rem;
    object-fit: contain;
    opacity: 0.5;
    z-index: 0;
}

/* FOOTER */

footer {
    display: flex;
}

@media (max-width: 1800px) {

    /* EL TITULO */

    .container-projects-2 .title-2 {
        height: 27rem;
    }

    .line-1 {
        width: 17rem;
        left: 0%;
        top: 14rem;
    }
    
    .line-2 {
        width: 44rem;
        top: 0%;
        left: 1100px;
    }

    .uno {
        left: 14rem;
        top: 5rem;
        font-size: 130px;
    }
    
    .uno span {
        font-size: 70px;
    }
    
    .dos {
        top: 12.5rem;
        left: 20rem;
        width: 50%;
        font-size: 130px;
        margin-top: 1rem;
    }
    
    .tres {
        top: 12rem;
        left: 63.5rem;
        width: 50%;
        font-size: 70px;
    }

    .tres img {
        width: 38rem;
    }

    .smile-project {
        width: 50px;
        left: 922px;
        top: 275px;
    }

    /* EMPECEMOS */

    .start {
        padding-left: 8rem;
        padding-top: 13rem;
    }

    .start-text p {
        font-size: 80px;
    }
    
    .start-text h1 {
        font-size: 170px;
    }

    .start-buttons button {
        width: 36rem;
        height: 7rem;
        margin: 0.8rem;
        font-size: 40px;
    }

}


@media (max-width: 1650px) {

    /* EL TITULO */

    .container-projects-2 .title-2 {
        height: 25rem;
    }

    .line-1 {
        width: 16rem;
        top: 12.5rem;
    }
    
    .line-2 {
        width: 43rem;
        left: 945px;
    }

    .uno {
        font-size: 110px;
        left: 13.5rem;
    }
    
    .uno span {
        font-size: 60px;
    }
    
    .dos {
        font-size: 110px;
        left: 18rem;
        top: 11rem;
    }
    
    .tres {
        left: 55rem;
        font-size: 60px;
        top: 11rem;
    }

    .tres img {
        width: 34rem;
    }

    .smile-project {
        width: 42px;
        left: 797px;
        top: 242px;
    }

    /* EMPECEMOS */

    .start {
        padding-left: 6rem;
        padding-top: 11rem;
    }
    
    .start-text p {
        font-size: 70px;
    }
        
    .start-text h1 {
        font-size: 150px;
    }
    
    .start-buttons button {
        width: 32rem;
        height: 6.5rem;
        margin: 0.5rem;
        font-size: 36px;
    }

}

@media (max-width: 1500px) {

    /* Primer texto */

    main .text-project-1 h1 {
        font-size: 75px;
    }

    main .text-project-1 li {
        font-size: 20px;
    }

    
    /* Tarjetas de proyectos */

    main .cards-project-1 {
        width: 55%;
    }

    main .card {
        width: 260px;
    }

    /* EL TITULO */

    .container-projects-2 .title-2 {
        height: 22rem;
    }

    .line-1 {
        width: 15rem;
        top: 12rem;
    }
        
    .line-2 {
        width: 40rem;
        left: 860px;
    }
    
    .uno {
        font-size: 100px;
        left: 13rem;
    }
        
    .uno span {
        font-size: 50px;
    }
        
    .dos {
        font-size: 150px;
        left: 17.5rem;
        top: 10.5rem;
    }
        
    .tres {
        left: 51rem;
        font-size: 50px;
        top: 10rem;
    }
    
    .tres img {
        width: 30rem;
    }

    .smile-project {
        width: 36px;
        left: 743px;
        top: 230px;
    }

}

@media (max-width: 1360px) {

    /* EL TITULO */

    .container-projects-2 .title-2 {
        height: 21rem;
    }

    .line-1 {
        width: 14rem;
        top: 12rem;
    }
            
    .line-2 {
        width: 36rem;
        left: 790px;
    }
        
    .uno {
        font-size: 90px;
        left: 13rem;
    }
            
    .uno span {
        font-size: 45px;
    }
            
    .dos {
        font-size: 90px;
        left: 17rem;
        top: 10rem;
    }
            
    .tres {
        left: 47rem;
        font-size: 45px;
        top: 10.5rem;
    }
        
    .tres img {
        width: 28rem;
    }

    .smile-project {
        width: 34px;
        left: 688px;
        top: 215px;
    }

    /* PROCESO */

    .process {
        height: 45rem;
    }

    .process-numbers .number {
        margin-bottom: 2rem;
    }

    .process-numbers h2 {
        font-size: 90px;
        margin: 0px;
    }

    .process-numbers p {
        font-size: 22px;
        margin-bottom: 1.1rem;
        margin-left: 0.5rem;
        line-height: 1.5rem;
    }

    .process-info {
        margin-bottom: 2rem;
    }

    .process-block {
        width: 450px;
        height: 110px;
        border-radius: 100px;
    }

    .process-block p {
        font-size: 22px;
        margin: 0px;
    }

    .pb-3 {
        padding-left: 2.5rem!important;
    }

    .pb-3 .mini-1 {
        bottom: 0.7rem;
    }

    .pb-3 .mini-1 p {
        font-size: 13px;
    }

    .pb-4 .mini-2 p {
        font-size: 13px;
    }

    /* EMPECEMOS */

    .start {
        padding-left: 6rem;
        padding-top: 11rem;
    }
        
    .start-text p {
        font-size: 60px;
    }
            
    .start-text h1 {
        font-size: 130px;
    }
        
    .start-buttons button {
        width: 28rem;
        height: 6rem;
        margin: 0.4rem;
        font-size: 32px;
    }

}

@media (max-width: 1280px) {

    /* EL TITULO */

    .container-projects-2 .title-2 {
        height: 20rem;
    }

    .line-1 {
        width: 13rem;
        top: 11rem;
    }
            
    .line-2 {
        width: 34.5rem;
        left: 730px;
    }
        
    .uno {
        font-size: 85px;
        left: 12rem;
    }
            
    .uno span {
        font-size: 35px;
    }
            
    .dos {
        font-size: 85px;
        left: 15rem;
        top: 9.5rem;
    }
            
    .tres {
        left: 43rem;
        font-size: 35px;
        top: 10rem;
    }
        
    .tres img {
        width: 28rem;
    }

    .smile-project {
        width: 32px;
        left: 633px;
        top: 206px;
    }
}

@media (max-width: 1190px) {

    /* EL TITULO */

    .container-projects-2 .title-2 {
        height: 19rem;
    }

    .line-1 {
        width: 12rem;
        top: 10.5rem;
    }
        
    .line-2 {
        width: 32.5rem;
        left: 675px;
    }
    
    .uno {
        font-size: 75px;
        left: 11rem;
    }
        
    .uno span {
        font-size: 35px;
    }
        
    .dos {
        font-size: 75px;
        left: 14rem;
        top: 9rem;
    }
        
    .tres {
        left: 40rem;
        font-size: 35px;
        top: 9.5rem;
    }
    
    .tres img {
        width: 26rem;
    }

    .smile-project {
        width: 29px;
        left: 570px;
        top: 193px;
    }

    /* EMPECEMOS */

    .start {
        padding-left: 5rem;
        padding-top: 10rem;
    }

    .start-text {
        line-height: 2.5rem;
    }
        
    .start-text p {
        font-size: 55px;
    }
            
    .start-text h1 {
        font-size: 120px;
    }
        
    .start-buttons button {
        width: 22rem;
        height: 5rem;
        margin: 0.3rem;
        font-size: 26px;
    }
}

@media (max-width: 1100px) {

    /* EL TITULO */

    .container-projects-2 .title-2 {
        height: 18rem;
    }

    .line-1 {
        width: 11rem;
        top: 10rem;
    }
        
    .line-2 {
        width: 30rem;
        left: 620px;
    }
    
    .uno {
        font-size: 70px;
        left: 10rem;
    }
        
    .uno span {
        font-size: 30px;
    }
        
    .dos {
        font-size: 70px;
        left: 12.5rem;
        top: 8.5rem;
    }
        
    .tres {
        left: 36.5rem;
        font-size: 30px;
        top: 9rem;
    }
    
    .tres img {
        width: 24rem;
    }

    .smile-project {
        width: 27px;
        left: 523px;
        top: 183px;
    }
}

@media (max-width: 1050px) {

    main .container-projects-1 {
        height: 95vh;
    }

    /* Primer texto */

    main .text-project-1 h1 {
        font-size: 65px;
    }
        
    main .text-project-1 li {
        font-size: 18px;
    }

    /* Tarjetas de proyectos */

    main .cards-project-1 {
        margin-right: 10px;
        width: 60%;
    }

    main .card {
        width: 240px;
    }

    .card__content .card__title {
        font-size: 14px;
    }

    .card__content .card__description {
        font-size: 6px;
    }

    .card__content .card__button {
        font-size: 8px;
    }

}

@media (max-width: 990px) {

    /* Primer texto */
    
    main .text-project-1 h1 {
        font-size: 60px;
    }
            
    main .text-project-1 li {
        font-size: 16px;
    }
    
    /* Tarjetas de proyectos */
    
    main .cards-project-1 {
        margin-right: 10px;
        width: 55%;
    }
    
    main .card {
        width: 220px;
    }
    
    .card__content .card__title {
        font-size: 14px;
    }
    
    .card__content .card__description {
        font-size: 6px;
    }
    
    .card__content .card__button {
        font-size: 8px;
    }
    

    /* EL TITULO */

    .container-projects-2 .title-2 {
        height: 18rem;
    }

    .line-1 {
        width: 10rem;
        top: 9.5rem;
    }
        
    .line-2 {
        width: 27.5rem;
        left: 550px;
    }
    
    .uno {
        font-size: 60px;
        left: 9rem;
    }
        
    .uno span {
        font-size: 25px;
    }
        
    .dos {
        font-size: 60px;
        left: 11.5rem;
        top: 8rem;
    }
        
    .tres {
        left: 32rem;
        font-size: 25px;
        top: 8.5rem;
    }
    
    .tres img {
        width: 21rem;
    }

    .smile-project {
        width: 24px;
        left: 460px;
        top: 171px;
    }

    /* EMPECEMOS */

    .start {
        padding-left: 5rem;
        padding-top: 10rem;
    }

    .start-text {
        line-height: 1.5rem;
    }
        
    .start-text p {
        font-size: 40px;
    }
            
    .start-text h1 {
        font-size: 100px;
    }
        
    .start-buttons button {
        width: 18rem;
        height: 4rem;
        margin: 0.3rem;
        font-size: 22px;
    }

    .start-arrow {
        width: 4rem;
        bottom: -8rem;
    }
}

@media (max-width: 850px) {

    /* MAIN */

    /* Primer texto */

    main .line {
        display: block;
        width: 26px;
    }

    main .text-project-1 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
    }

    main .text-project-1 h1 {
        font-size: 78px;
    }
        
    main .text-project-1 li {
        font-size: 20px;
    }

    /* Tarjetas de proyectos */

    main .cards-project-1 {
        display: none;
    }

    main .card {
        height: 140px;
        margin: 0%;
        margin-bottom: 5%;
        margin-top: 5%;
        width: 100%;
        z-index: 1;
    }

    .card:hover {
        transform: scale(1);
    }

    /* mySlider */

    .mySlider {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 0;
        width: 50%;
    }

    .myCards {
        display: flex;
        flex-direction: column;
        height: 490px;
        overflow: scroll;
        width: auto;
    }

    .myCards::-webkit-scrollbar{
        display: none;
    }

    .myCards div {
        width: 100%;
        display: grid;
        flex: none;
    }

    #backBtn img, #nextBtn img {
        width: 35px;
        cursor: pointer;
    }

    /* EL TITULO */

    .title-2 h1 {
        width: 100%;
    }

    .line-1 {
        width: 13rem;
        top: 12.5rem;
    }
            
    .line-2 {
        width: 35rem;
        left: 540px;
    }
        
    .uno {
        font-size: 65px;
        left: 7rem;
        top: 3rem;
    }
            
    .uno span {
        font-size: 40px;
    }
            
    .dos {
        font-size: 65px;
        left: 10.5rem;
        top: 6rem;
    }

    .dos span::after {
        content: "en";
        font-size: 40px;
    }
            
    .tres {
        left: 16rem;
        top: 12rem;
    }
        
    .tres img {
        width: 23rem;
    }

    .tres span {
        display: none;
    }
    
    .smile-project {
        width: 24px;
        left: 468px;
        top: 140px;
    }

    /* PROCESO */

    .process {
        height: 40rem;
    }

    .process-numbers .number {
        margin-bottom: 2rem;
    }

    .process-numbers h2 {
        font-size: 70px;
        margin: 0px;
    }

    .process-numbers p {
        font-size: 16px;
        margin-bottom: 0.8rem;
        margin-left: 0.5rem;
        line-height: 1.2rem;
    }

    .process-info {
        margin-bottom: 2rem;
    }

    .process-block {
        width: 350px;
        height: 90px;
        border-radius: 100px;
    }

    .process-block p {
        font-size: 18px;
        margin: 0px;
    }

    .pb-3 {
        padding-left: 2rem!important;
    }

    .pb-3 .mini-1 {
        bottom: 0.7rem;
        right: 2rem;
    }

    .pb-3 .mini-1 p {
        font-size: 10px;
    }

    .pb-4 .mini-2 p {
        font-size: 10px;
    }

    /* EMPECEMOS */

    .start {
        padding-left: 4rem;
        padding-top: 6rem;
        height: 80vh;
    }

    .start-text {
        line-height: 1rem;
    }
        
    .start-text p {
        font-size: 30px;
    }
            
    .start-text h1 {
        font-size: 80px;
    }
        
    .start-buttons button {
        width: 12rem;
        height: 3rem;
        margin: 0.3rem;
        font-size: 16px;
    }

}

@media (max-width: 800px) {

    main .container-projects-1 {
        justify-content: space-around;
    }

    /* Primer texto */

    main .line {
        display: block;
        width: 26px;
    }

    main .text-project-1 h1 {
        font-size: 78px;
    }
        
    main .text-project-1 li {
        font-size: 20px;
    }

    /* Tarjetas de proyectos */

    main .cards-project-1 {
        display: none;
    }

    main .card {
        height: 140px;
        margin: 0%;
        margin-bottom: 5%;
        margin-top: 5%;
        width: 100%;
        z-index: 1;
    }

    .card:hover {
        transform: scale(1);
    }

    /* mySlider */

    .mySlider {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 0;
    }

    .myCards {
        display: flex;
        flex-direction: column;
        height: 490px;
        overflow: scroll;
        width: auto;
    }

    .myCards::-webkit-scrollbar{
        display: none;
    }

    .myCards div {
        width: 100%;
        display: grid;
        flex: none;
    }

    #backBtn img, #nextBtn img {
        width: 35px;
        cursor: pointer;
    }

    /* EL TITULO */

    .title-2 h1 {
        width: 100%;
    }

    .line-1 {
        width: 13rem;
        top: 12.5rem;
        display: block!important;
    }
            
    .line-2 {
        width: 32rem;
        left: 510px;
    }
        
    .uno {
        font-size: 60px;
        left: 7rem;
        top: 3rem;
    }
            
    .uno span {
        font-size: 40px;
    }
            
    .dos {
        font-size: 60px;
        left: 10.5rem;
        top: 6rem;
    }

    .dos span::after {
        content: "en";
        font-size: 40px;
    }
            
    .tres {
        left: 16rem;
        top: 12rem;
    }
        
    .tres img {
        width: 21rem;
    }
    
    .smile-project {
        width: 22px;
        left: 445px;
        top: 139px;
    }
}

@media (max-width: 715px) {

    /* EL TITULO */

    .title-2 h1 {
        width: 100%;
    }

    .line-1 {
        width: 11rem;
        top: 12.5rem;
    }
            
    .line-2 {
        width: 30rem;
        left: 470px;
    }
        
    .uno {
        font-size: 60px;
        left: 5rem;
        top: 3rem;
    }
            
    .uno span {
        font-size: 40px;
    }
            
    .dos {
        font-size: 60px;
        left: 8.5rem;
        top: 6rem;
    }

    .dos span::after {
        content: "en";
        font-size: 40px;
    }
            
    .tres {
        left: 14rem;
        top: 12rem;
    }
        
    .tres img {
        width: 21rem;
    }
    
    .smile-project {
        width: 21px;
        left: 414px;
        top: 140px;
    }
}

@media (max-width: 670px) {

    /* Primer texto */

    main .line {
        display: block;
        width: 26px;
    }

    main .text-project-1 h1 {
        font-size: 78px;
    }
        
    main .text-project-1 li {
        font-size: 20px;
    }

    /* Tarjetas de proyectos */

    main .cards-project-1 {
        display: none;
    }

    main .card {
        height: 130px;
        margin: 0%;
        margin-bottom: 5%;
        margin-top: 5%;
        width: 100%;
        z-index: 1;
    }

    .card:hover {
        transform: scale(1);
    }

    /* mySlider */

    .mySlider {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 0;
        width: 50%;
    }

    .myCards {
        display: flex;
        flex-direction: column;
        height: 470px;
        overflow: scroll;
        width: auto;
    }

    .myCards::-webkit-scrollbar{
        display: none;
    }

    .myCards div {
        width: 100%;
        display: grid;
        flex: none;
    }

    #backBtn img, #nextBtn img {
        width: 35px;
        cursor: pointer;
    }

    /* EL TITULO */

    .container-projects-2 .title-2 {
        height: 16rem;
    }

    .title-2 h1 {
        width: 100%;
    }

    .line-1 {
        width: 11rem;
        top: 11rem;
    }
            
    .line-2 {
        width: 30rem;
        left: 400px;
    }
        
    .uno {
        font-size: 50px;
        left: 4rem;
        top: 3rem;
    }
            
    .uno span {
        font-size: 35px;
    }
            
    .dos {
        font-size: 50px;
        left: 7rem;
        top: 5.5rem;
    }

    .dos span::after {
        content: "en";
        font-size: 35px;
    }
            
    .tres {
        left: 13rem;
        top: 10.5rem;
    }
        
    .tres img {
        width: 20rem;
    }
    
    .smile-project {
        width: 20px;
        left: 343px;
        top: 128px;
    }
}

@media (max-width: 650px) {

    /* Primer texto */

    main .text-project-1 h1 {
        font-size: 70px;
    }

    main .text-project-1 li {
        font-size: 16px;
    }

    /* Linea */

    main .line {
        left: 90px;
    }

    /* Tarjetas */

    main .card {
        height: 130px;
    }

    .card__content {
        padding: 15px 20px;
    }

    .card__content .card__title {
        font-size: 12px;
    }

    .card__content .card__description {
        font-size: 4px;
    }

    .card__content .card__button {
        font-size: 6px;
    }

    /* Slider */

    .myCards {
        height: 470px;
    }

    /* PROCESO */

    .process {
        height: 35rem;
    }
    
    .process-numbers .number {
        margin-bottom: 2rem;
    }
    
    .process-numbers h2 {
        font-size: 60px;
        margin: 0px;
    }
    
    .process-numbers p {
        font-size: 12px;
        margin-bottom: 0.8rem;
        margin-left: 0.5rem;
        line-height: 1rem;
    }
    
    .process-info {
        margin-left: 3rem;
        margin-bottom: 2rem;
    }
    
    .process-block {
        width: 280px;
        height: 75px;
        border-radius: 100px;
    }
    
    .process-block p {
        font-size: 15px;
        margin: 0px;
    }

    .pb-3 {
        padding-left: 1.5rem!important;
    }

    .pb-3 .mini-1 {
        bottom: 0.6rem;
        right: 1.5rem;
    }

    .pb-3 .mini-1 p {
        font-size: 8px;
    }

    .pb-4 .mini-2 p {
        font-size: 8px;
    }

    /* EMPECEMOS */

    .start {
        padding-left: 2rem;
        padding-top: 4rem;
        height: 70vh;
    }

    .start-text {
        line-height: 0rem;
    }
        
    .start-text p {
        font-size: 25px;
    }
            
    .start-text h1 {
        font-size: 65px;
    }
        
    .start-buttons button {
        width: 10rem;
        height: 2.5rem;
        margin: 0.2rem;
        font-size: 14px;
    }

    .start-arrow {
        width: 3rem;
        bottom: -5rem;
    }

}

@media (max-width: 570px) {

    /* Primer texto */

    main .line {
        display: block;
        width: 26px;
    }

    main .text-project-1 {
        width: 50%;
    }

    main .text-project-1 h1 {
        font-size: 70px;
    }
        
    main .text-project-1 li {
        font-size: 16px;
    }

    /* Tarjetas de proyectos */

    main .cards-project-1 {
        display: none;
    }

    main .card {
        height: 120px;
        margin: 0%;
        margin-bottom: 5%;
        margin-top: 5%;
        width: 100%;
        z-index: 1;
    }

    .card:hover {
        transform: scale(1);
    }

    /* mySlider */

    .mySlider {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 0;
        width: 50%;
    }

    .myCards {
        display: flex;
        flex-direction: column;
        height: 430px;
        overflow: scroll;
        width: auto;
    }

    .myCards::-webkit-scrollbar{
        display: none;
    }

    .myCards div {
        width: 100%;
        display: grid;
        flex: none;
    }

    #backBtn img, #nextBtn img {
        width: 35px;
        cursor: pointer;
    }

    /* EL TITULO */

    .container-projects-2 .title-2 {
        height: 15rem;
    }

    .title-2 h1 {
        width: 100%;
    }

    .line-1 {
        width: 9rem;
        top: 10.5rem;
    }
            
    .line-2 {
        width: 25rem;
        left: 320px;
    }
        
    .uno {
        font-size: 40px;
        left: 4rem;
        top: 3rem;
    }
            
    .uno span {
        font-size: 30px;
    }
            
    .dos {
        font-size: 40px;
        left: 6.3rem;
        top: 5rem;
    }

    .dos span::after {
        content: "en";
        font-size: 30px;
    }
            
    .tres {
        left: 10rem;
        top: 9.5rem;
    }
        
    .tres img {
        width: 19rem;
    }
    
    .smile-project {
        width: 16px;
        left: 285px;
        top: 113px;
    }

}

@media (max-width: 500px) {

    main .container-projects-1 {
        height: 90vh;
    }

    /* Primer texto */

    main .text-project-1 h1 {
        font-size: 62px;
    }

    main .text-project-1 li {
        font-size: 12px;
    }

    /* Linea */

    main .line {
        left: 40px;
    }

    /* Tarjetas */

    main .card {
        height: 110px;
    }
    
    /* Slider */
    
    .myCards {
        height: 390px;
    }
    
    /* EL TITULO */

    .container-projects-2 .title-2 {
        height: 13rem;
    }
    
    .title-2 h1 {
        width: 100%;
    }
    
    .line-1 {
        width: 7rem;
        top: 9rem;
    }
                
    .line-2 {
        width: 20rem;
        left: 280px;
        display: block!important;
    }
            
    .uno {
        font-size: 35px;
        left: 3rem;
        top: 3rem;
    }
                
    .uno span {
        font-size: 25px;
    }
                
    .dos {
        font-size: 35px;
        left: 5.2rem;
        top: 4.5rem;
    }
    
    .dos span::after {
        content: "en";
        font-size: 25px;
    }
                
    .tres {
        left: 8.5rem;
        top: 8.5rem;
    }
            
    .tres img {
        width: 15rem;
    }
        
    .smile-project {
        width: 14px;
        left: 244px;
        top: 103px;
    }

    /* PROCESO */

    .process {
        height: 30rem;
    }
        
    .process-numbers .number {
        margin-bottom: 2rem;
    }
        
    .process-numbers h2 {
        font-size: 45px;
        margin: 0px;
    }
        
    .process-numbers p {
        font-size: 10px;
        margin-bottom: 0.6rem;
        margin-left: 0.5rem;
        line-height: 0.7rem;
    }
        
    .process-info {
        margin-left: 2rem;
        margin-bottom: 2rem;
    }
        
    .process-block {
        width: 240px;
        height: 60px;
        border-radius: 100px;
    }
        
    .process-block p {
        font-size: 12px;
        margin: 0px;
    }

    .pb-3 {
        padding-left: 1.5rem!important;
    }

    .pb-3 .mini-1 {
        bottom: 0.6rem;
        right: 1.8rem;
    }

    .pb-3 .mini-1 p {
        font-size: 6px;
    }

    .pb-4 .mini-2 p {
        font-size: 6px;
    }

    /* EMPECEMOS */

    .start {
        padding: 0rem;
        height: 45vh;
        flex-direction: column;
        justify-content: flex-end;
    }

    .start-text {
        line-height: 0rem;
    }
        
    .start-text p {
        font-size: 28px;
    }
            
    .start-text h1 {
        font-size: 70px;
        margin: 0px;
    }

    .start-buttons {
        margin: 0rem;
        margin-bottom: 2rem;
        width: 100%;
        display: flex;
        align-items: center;
    }
        
    .start-buttons button {
        width: 12rem;
        height: 3rem;
        margin: 0.5rem;
        font-size: 16px;
    }

    .curve {
        bottom: 1rem;
    }

    .start-arrow {
        bottom: -2rem;
    }

}

@media (max-width: 400px) {

    

    /* Primer texto */


    /* Tarjetas */

    main .card {
        height: 90px;
    }
        
    .card__content {
        padding: 10px;
    }
    
    .card__content .card__title {
        font-size: 10px;
    }
    
    .card__content .card__description {
        font-size: 4px;
    }
    
    .card__content .card__button {
        font-size: 4px;
    }
        
    /* Slider */
        
    .myCards {
        height: 320px;
    }

    /* EL TITULO */

    .container-projects-2 .title-2 {
        height: 11rem;
    }
    
    .title-2 h1 {
        width: 100%;
    }
    
    .line-1 {
        width: 6rem;
        top: 8.5rem;
    }
                
    .line-2 {
        width: 15rem;
        left: 255px;
        top: 30px;
    }
            
    .uno {
        font-size: 35px;
        left: 2rem;
        top: 3rem;
    }
                
    .uno span {
        font-size: 22px;
    }
                
    .dos {
        font-size: 35px;
        left: 3.7rem;
        top: 4.2rem;
    }
    
    .dos span::after {
        content: "en";
        font-size: 22px;
    }
                
    .tres {
        left: 7rem;
        top: 8rem;
    }
            
    .tres img {
        width: 12rem;
    }
        
    .smile-project {
        width: 13px;
        left: 221px;
        top: 99px;
    }

    /* PROCESO */

    .process {
        height: 25rem;
    }
        
    .process-numbers .number {
        margin-bottom: 2rem;
    }
        
    .process-numbers h2 {
        font-size: 38px;
        margin: 0px;
    }
        
    .process-numbers p {
        font-size: 10px;
        margin-bottom: 0.5rem;
        margin-left: 0.5rem;
        line-height: 0.6rem;
    }
        
    .process-info {
        margin-left: 2rem;
        margin-bottom: 2rem;
    }
        
    .process-block {
        width: 200px;
        height: 50px;
        border-radius: 100px;
    }
        
    .process-block p {
        font-size: 10px;
        margin: 0px;
    }

    .pb-3 {
        padding-left: 1rem!important;
    }

    .pb-3 .mini-1 {
        bottom: 0.6rem;
        right: 2rem;
    }

    .pb-3 .mini-1 p {
        font-size: 5px;
    }

    .pb-4 .mini-2 p {
        font-size: 5px;
    }

    /* EMPECEMOS */

    .start {
        padding: 0rem;
        height: 42vh;
        flex-direction: column;
        justify-content: flex-end;
    }

    .start-text {
        line-height: 0rem;
    }
        
    .start-text p {
        font-size: 28px;
    }
            
    .start-text h1 {
        font-size: 70px;
        margin: 0px;
    }

    .start-buttons {
        margin: 0rem;
        margin-bottom: 3rem;
        width: 100%;
        display: flex;
        align-items: center;
    }
        
    .start-buttons button {
        width: 12rem;
        height: 3rem;
        margin: 0.5rem;
        font-size: 16px;
    }

    .curve {
        bottom: 1rem;
    }

    .start-arrow {
        bottom: -2rem;
    }


}