/* HEADER */

header {
    height: 0px;
}

/* MAIN */

main .container-projects-1 {
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    flex-direction: row-reverse;
    overflow: hidden;
}

main .line {
    position: absolute;
    left: 100px;
    width: 22px;
    bottom: 0%;
    display: none;
}

/* Primer texto */

main .text-project-1 {
    transform: rotate(-90deg);
    position: absolute;
    top: 32%;
    left: -5%;
    color: #8aa3b8;
    width: auto;
    height: auto;
}

main .text-project-1 h1 {
    font-size: 100px;
}

main .text-project-1 li {
    list-style-type: none;
    font-size: 30px;
}

main .text-project-1 li::before {
    content: "-" " ";
}

/* Tarjetas de proyectos */

main .cards-project-1 {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
}

.card {
    position: relative;
    width: 350px;
    aspect-ratio: 16/9;
    background-color: #cfe1e6;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin: 1%;
  }
  
  .card svg {
    width: 42px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card__image {
    width: 100%;
    height: 100%;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }
  
  .card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #cfe1e6;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card:hover .card__content {
    transform: rotateX(0deg);
  }
  
  .card__title {
    margin: 0;
    font-size: 16px;
    color: #333;
    font-weight: 700;
  }
  
  .card:hover svg {
    scale: 0;
  }
  
  .card__description {
    margin: 10px 0 10px;
    font-size: 8px;
    color: #777;
    line-height: 1.4;
  }
  
  .card__button {
    font-size: 10px;
    padding: 6px;
    border-radius: 8px;
    background: #777;
    border: none;
    color: white;
  }

/* asdas */

main .container-projects-2 {
    height: 100vh;
    background-color: #8aa3b8;
}

/* SLIDER */

.mySlider {
    display: none;
}

/* FOOTER */

footer {
    display: flex;
}


@media (max-width: 1520px) {

    /* Primer texto */

    main .text-project-1 {
        top: 40%;
    }

    main .text-project-1 h1 {
        font-size: 70px;
    }
    
    main .text-project-1 li {
        font-size: 18px;
    }

    /* Tarjetas de proyectos */

    main .cards-project-1 {
        width: 54%;
    }

    .card {
        width: 250px;
    }

}

@media (max-width: 1050px) {

    /* Primer texto */

    main .text-project-1 h1 {
        font-size: 60px;
    }
        
    main .text-project-1 li {
        font-size: 16px;
    }

    /* Tarjetas de proyectos */

    .cards-project-1 {
        margin-right: 10px;
    }

    .card {
        width: 220px;
    }

}

@media (max-width: 850px) {

    /* MAIN */

    /* Primer texto */

    main .text-project-1 {
        top: 25%;
    }

    main .line {
        display: block;
        width: 26px;
    }

    main .text-project-1 h1 {
        font-size: 80px;
    }
        
    main .text-project-1 li {
        font-size: 22px;
    }

    /* Tarjetas de proyectos */

    main .cards-project-1 {
        display: none;
    }

    .card {
        height: 140px;
        margin-bottom: 5%;
        margin-top: 5%;
        width: 100%;
        z-index: 1;
    }

    .card:hover {
        transform: scale(1);
    }

    /* mySlider */

    .mySlider {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 0;
        margin-right: 5%;
        width: auto;
    }

    .myCards {
        display: flex;
        flex-direction: column;
        height: 500px;
        overflow: scroll;
        width: auto;
    }

    .myCards::-webkit-scrollbar{
        display: none;
    }

    .myCards div {
        width: 100%;
        display: grid;
        flex: none;
    }

    #backBtn, #nextBtn {
        width: 35px;
        cursor: pointer;
    }

}

@media (max-width: 650px) {

    main .container-projects-1 {
        height: 80vh;
    }

    /* Primer texto */

    main .text-project-1 {
        top: 25%;
    }

    main .text-project-1 h1 {
        font-size: 70px;
    }

    main .text-project-1 li {
        font-size: 18px;
    }

    /* Linea */

    main .line {
        left: 90px;
    }

    /* Tarjetas */

    .card {
        height: 112px;
    }

    /* Slider */

    .myCards {
        height: 400px;
    }

}

@media (max-width: 570px) {

    /* Primer texto */

    main .text-project-1 {
        top: 30%;
    }

    main .text-project-1 h1 {
        font-size: 60px;
    }

    main .text-project-1 li {
        font-size: 16px;
    }

    /* Linea */

    main .line {
        left: 75px;
    }


}

@media (max-width: 500px) {

    /* Primer texto */

    main .text-project-1 {
        left: -10%;
    }

    main .text-project-1 h1 {
        font-size: 55px;
    }

    main .text-project-1 li {
        font-size: 15px;
    }

    /* Linea */

    main .line {
        left: 40px;
    }


}

@media (max-width: 450px) {

    /* Primer texto */

    main .text-project-1 {
        left: -13%;
    }

    main .text-project-1 h1 {
        font-size: 48px;
    }

    main .text-project-1 li {
        font-size: 12px;
    }

    /* Linea */

    main .line {
        left: 20px;
        width: 24px;
    }

    /* Tarjetas */

    .card {
        height: 97px;
    }
    
    /* Slider */
    
    .myCards {
        height: 350px;
    }


}