/* HEADER */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 5rem;
}

.first-text h1 {
    font-size: 150px;
    position: relative;
    display: flex;
    align-items: center;
    margin: 0rem;
    font-weight: normal;
}

.first-text h1 img {
    width: 6rem;
    transform: rotate(5deg);
    position: absolute;
    right: 4rem;
}

.services-cards {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
}

.card {
    box-sizing: border-box;
    width: 230px;
    height: 230px;
    background: #8aa9a7;
    border: 1px solid white;
    box-shadow: 12px 17px 51px #88a9a7;
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: white;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  
  .card:hover {
    border: 1px solid black;
    transform: scale(1.05);
  }
  
  .card:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }

/* FOOTER */

footer {
    display: flex;
}

@media (max-width: 1360px) {

    /* HEADER */

    header {
        padding: 4rem;
    }

    .first-text h1 {
        font-size:  110px;
    }

    .first-text h1 img {
        width: 4rem;
    }

    .card {
        width: 180px;
        height: 180px;
    }

}