/* HEADER */

header {
    height: 0rem;
}

/* MAIN */

.container-presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 100px;
}

.presentation-text {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    height: 60%;
    width: 100%;
    line-height: 8rem;
    position: relative;
}

.presentation-text h1 {
    font-size: 220px;
    color: #497078;
    position: relative;
}

.presentation-text h1 img {
    width: 3.5rem;
    position: absolute;
    bottom: 1.5rem;
    left: 17.5rem;
}

.presentation-text h2 {
    font-size: 85px;
    color: #8aa9a7;
    position: relative;
    margin-left: 4rem;
    height: 13rem;
}

.presentation-text span {
    position: absolute;
    font-size: 50px;
    color: #497078;
    left: 0rem;
    bottom: 0rem;
}

.presentation-text span img {
    position: absolute;
    width: 1.5rem;
    bottom: 4.2rem;
    left: 19.4rem;
}

.presentation-text img {
    position: absolute;
    width: 50rem;
    bottom: 6rem;
    left: 37rem;
}

@media (max-width: 1600px) {

    /* TITULO */

    .presentation-text {
        line-height: 7rem;
    }

    .presentation-text h1 {
        font-size: 190px;
    }

    .presentation-text h1 img {
        width: 3rem;
        bottom: 1.3rem;
        left: 15rem;
    }

    .presentation-text h2 {
        font-size: 75px;
        height: 11rem;
        margin-left: 3rem;
    }

    .presentation-text span {
        font-size: 40px;
    }

    .presentation-text span img {
        width: 1.3rem;
        bottom: 3.6rem;
        left: 15.5rem;
    }

    .presentation-text img {
        width: 40rem;
        left: 33rem;
        bottom: 5rem;
    }

}

@media (max-width: 1400px) {

    /* TITULO */

    .presentation-text {
        line-height: 6rem;
    }

    .presentation-text h1 {
        font-size: 170px;
    }

    .presentation-text h1 img {
        width: 2.7rem;
        bottom: 1rem;
        left: 13.5rem;
    }

    .presentation-text h2 {
        font-size: 65px;
        height: 10rem;
        margin-left: 3rem;
    }

    .presentation-text span {
        font-size: 35px;
    }

    .presentation-text span img {
        width: 1.1rem;
        bottom: 3.2rem;
        left: 13.6rem;
    }

    .presentation-text img {
        width: 35rem;
        left: 28.5rem;
        bottom: 4.8rem;
    }

}

@media (max-width: 1200px) {

    /* TITULO */

    .container-presentation {
        padding-left: 5rem;
        padding-right: 5rem;
        padding-top: 100px;
    }

    .presentation-text {
        line-height: 5.2rem;
    }

    .presentation-text h1 {
        font-size: 140px;
    }

    .presentation-text h1 img {
        width: 2.1rem;
        bottom: 1rem;
        left: 11.2rem;
    }

    .presentation-text h2 {
        font-size: 54px;
        height: 8.5rem;
        margin-left: 2.5rem;
    }

    .presentation-text span {
        font-size: 29px;
    }

    .presentation-text span img {
        width: 0.8rem;
        bottom: 2.8rem;
        left: 11.3rem;
    }

    .presentation-text img {
        width: 30rem;
        left: 23.5rem;
        bottom: 4rem;
    }

}

@media (max-width: 1000px) {

    /* TITULO */

    .container-presentation {
        padding-left: 5rem;
        padding-right: 5rem;
        padding-top: 100px;
    }

    .presentation-text {
        line-height: 3.8rem;
        height: 50%;
    }

    .presentation-text h1 {
        font-size: 100px;
    }

    .presentation-text h1 img {
        width: 1.4rem;
        bottom: 0.8rem;
        left: 8rem;
    }

    .presentation-text h2 {
        font-size: 38px;
        height: 6rem;
        margin-left: 1.8rem;
    }

    .presentation-text span {
        font-size: 20px;
    }

    .presentation-text span img {
        width: 0.6rem;
        bottom: 2rem;
        left: 7.8rem;
    }

    .presentation-text img {
        width: 22rem;
        left: 16.5rem;
        bottom: 2.6rem;
    }

}

@media (max-width: 800px) {

    /* TITULO */

    .container-presentation {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        padding-top: 50px;
    }

}

@media (max-width: 700px) {

    /* TITULO */

    .container-presentation {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        padding-top: 50px;
    }


    .presentation-text {
        line-height: 5rem;
        height: 50%;
    }

    .presentation-text h1 {
        font-size: 140px;
    }

    .presentation-text h1 img {
        width: 2.2rem;
        bottom: 0.9rem;
        left: 11.1rem;
    }

    .presentation-text h2 {
        font-size: 53px;
        height: 15.5rem;
        margin-left: 2.5rem;
    }

    .presentation-text span {
        font-size: 32px;
        position: absolute;
        left: -2rem;
        bottom: -1rem;
    }

    .presentation-text span img {
        width: 1rem;
        bottom: 2.6rem;
        left: 12.4rem;
    }

    .presentation-text img {
        width: 36rem;
        left: -4rem;
        bottom: 2.6rem;
    }

}

@media (max-width: 600px) {

    /* TITULO */

    .container-presentation {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        padding-top: 50px;
    }


    .presentation-text {
        line-height: 4.5rem;
        height: 50%;
    }

    .presentation-text h1 {
        font-size: 120px;
    }

    .presentation-text h1 img {
        width: 1.8rem;
        bottom: 0.9rem;
        left: 9.6rem;
    }

    .presentation-text h2 {
        font-size: 48px;
        height: 14.5rem;
        margin-left: 2rem;
    }

    .presentation-text span {
        font-size: 29px;
        position: absolute;
        left: -1.2rem;
        bottom: -1rem;
    }

    .presentation-text span img {
        width: 1rem;
        bottom: 2.5rem;
        left: 11.3rem;
    }

    .presentation-text img {
        width: 32rem;
        left: -3rem;
        bottom: 2.6rem;
    }

}

@media (max-width: 550px) {

    /* TITULO */

    .container-presentation {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        padding-top: 50px;
    }


    .presentation-text {
        line-height: 3.6rem;
        height: 50%;
    }

    .presentation-text h1 {
        font-size: 90px;
    }

    .presentation-text h1 img {
        width: 1.3rem;
        bottom: 0.8rem;
        left: 7.2rem;
    }

    .presentation-text h2 {
        font-size: 34px;
        height: 11rem;
        margin-left: 1.6rem;
    }

    .presentation-text span {
        font-size: 21px;
        position: absolute;
        left: -1.2rem;
        bottom: -0.3rem;
    }

    .presentation-text span img {
        width: 0.7rem;
        bottom: 1.9rem;
        left: 8.1rem;
    }

    .presentation-text img {
        width: 23rem;
        left: -2.3rem;
        bottom: 2.6rem;
    }

}

@media (max-width: 400px) {

    /* TITULO */

    .container-presentation {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 30px;
    }


    .presentation-text {
        line-height: 3.6rem;
        height: 50%;
    }

    .presentation-text h1 {
        font-size: 90px;
    }

    .presentation-text h1 img {
        width: 1.3rem;
        bottom: 0.8rem;
        left: 7.2rem;
    }

    .presentation-text h2 {
        font-size: 34px;
        height: 11rem;
        margin-left: 1.6rem;
    }

    .presentation-text span {
        font-size: 21px;
        position: absolute;
        left: -1.2rem;
        bottom: -0.3rem;
    }

    .presentation-text span img {
        width: 0.7rem;
        bottom: 1.9rem;
        left: 8.1rem;
    }

    .presentation-text img {
        width: 23rem;
        left: -2.3rem;
        bottom: 2.6rem;
    }

}

@media (max-width: 370px) {

    /* TITULO */

    .container-presentation {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 30px;
    }


    .presentation-text {
        line-height: 3rem;
        height: 50%;
    }

    .presentation-text h1 {
        font-size: 70px;
    }

    .presentation-text h1 img {
        width: 1rem;
        bottom: 0.7rem;
        left: 5.6rem;
    }

    .presentation-text h2 {
        font-size: 27px;
        height: 10rem;
        margin-left: 1.2rem;
    }

    .presentation-text span {
        font-size: 17px;
        position: absolute;
        left: -0.8rem;
        bottom: -0.3rem;
    }

    .presentation-text span img {
        width: 0.5rem;
        bottom: 1.6rem;
        left: 6.6rem;
    }

    .presentation-text img {
        width: 18.5rem;
        left: -1.8rem;
        bottom: 2.6rem;
    }

}