.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

/* HEADER */

header {
    height: 0rem;
}

/* MAIN */

.container-presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentation-text {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    height: 60%;
    width: 100%;
    line-height: 8rem;
    position: relative;
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 120px;
}

.presentation-text h1 {
    font-size: 220px;
    color: #497078;
    position: relative;
}

.presentation-text h1 img {
    width: 3.5rem;
    position: absolute;
    bottom: 1.5rem;
    left: 17.5rem;
}

.presentation-text h2 {
    font-size: 85px;
    color: #8aa9a7;
    position: relative;
    margin-left: 4rem;
    height: 13rem;
}

.presentation-text span {
    position: absolute;
    font-size: 50px;
    color: #497078;
    left: 0rem;
    bottom: 0rem;
}

.presentation-text span img {
    position: absolute;
    width: 1.5rem;
    bottom: 4.2rem;
    left: 19.4rem;
}

.presentation-text img {
    position: absolute;
    width: 50rem;
    bottom: 6rem;
    left: 37rem;
}

/* INFO */

.presentation-info {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    position: relative;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #8aa9a7;
    color: white;
    width: 60%;
    height: 20rem;
    padding: 3rem;
    font-size: 36px;
    line-height: 5rem;
    border-radius: 0rem 10rem 10rem 0rem;
    position: relative;
}

.complete-name {
    color: #497078;
    position: absolute;
    bottom: -4rem;
    left: 0.5rem;
    font-size: 20px;
}

.complete-name img {
    width: 1.3rem;
}

.pic {
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}

.pic img {
    width: 34rem;
    object-fit: contain;
}

.more {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #8aa9a7;
    padding: 7rem 4rem 2rem 3rem;
    font-size: 46px;
    line-height: 6rem;
    text-align: justify;
}

.hide {
    display: inline-block;
}

.visible {
    display: none;
}

.arrow-about-me {
    display: none;
}

.down-arrow {
    position: absolute;
    width: 8rem;
    bottom: -3rem;
    left: 19rem;
}

/* CALL TO ACTION */

.call-to-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #8aa9a7;
    color: white;
    padding: 4rem;
}

.container-question {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid #ffff 4px;
    border-radius: 5rem;
    padding: 0.4rem;
    width: 38rem;
    font-size: 40px;
}

.phrase {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem;
    font-size: 30px;
    line-height: 4rem;
}

.btn-meetings {
    border-radius: 5rem;
    border: none;
    color: white;
    background-color: #497078;
    padding: 0.8rem;
    font-size: 30px;
    width: 20rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.btn-plans {
    border-radius: 5rem;
    border: solid #497078 2px;
    color: #497078;
    background-color: transparent;
    padding: 0.8rem;
    font-size: 30px;
    width: 20rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

@media (max-width: 1850px) {

    .more {
        padding: 7rem 4rem 2rem 4rem;
        font-size: 42px;
        line-height: 6rem;
    }

}

@media (max-width: 1700px) {

    .more {
        padding: 7rem 4rem 2rem 4rem;
        font-size: 38px;
        line-height: 5rem;
    }

}

@media (max-width: 1600px) {

    /* TITULO */

    .presentation-text {
        line-height: 7rem;
    }

    .presentation-text h1 {
        font-size: 190px;
    }

    .presentation-text h1 img {
        width: 3rem;
        bottom: 1.3rem;
        left: 15rem;
    }

    .presentation-text h2 {
        font-size: 75px;
        height: 11rem;
        margin-left: 3rem;
    }

    .presentation-text span {
        font-size: 40px;
    }

    .presentation-text span img {
        width: 1.3rem;
        bottom: 3.6rem;
        left: 15.5rem;
    }

    .presentation-text img {
        width: 40rem;
        left: 33rem;
        bottom: 5rem;
    }

}

@media (max-width: 1550px) {

    .more {
        padding: 7rem 4rem 2rem 4rem;
        font-size: 34px;
        line-height: 4.5rem;
    }

}

@media (max-width: 1400px) {

    /* TITULO */

    .presentation-text {
        line-height: 6rem;
    }

    .presentation-text h1 {
        font-size: 170px;
    }

    .presentation-text h1 img {
        width: 2.7rem;
        bottom: 1rem;
        left: 13.5rem;
    }

    .presentation-text h2 {
        font-size: 65px;
        height: 10rem;
        margin-left: 3rem;
    }

    .presentation-text span {
        font-size: 35px;
    }

    .presentation-text span img {
        width: 1.1rem;
        bottom: 3.2rem;
        left: 13.6rem;
    }

    .presentation-text img {
        width: 35rem;
        left: 28.5rem;
        bottom: 4.8rem;
    }

    /* INFO */

    .skills {
        height: 18rem;
        font-size: 32px;
        line-height: 4rem;
    }

    .pic img {
        width: 28rem;
    }

    .complete-name {
        bottom: -3.2rem;
        left: 0.5rem;
        font-size: 17px;
    }
    
    .complete-name img {
        width: 1.1rem;
    }

    .down-arrow {
        width: 6rem;
        bottom: -3rem;
        left: 16rem;
    }

    /* MORE */

    .more {
        padding: 7rem 4rem 2rem 4rem;
        font-size: 30px;
        line-height: 4rem;
    }

}

@media (max-width: 1250px) {

    .more {
        padding: 6rem 3rem 2rem 3rem;
        font-size: 28px;
        line-height: 3.7rem;
    }

}

@media (max-width: 1200px) {

    /* TITULO */

    .presentation-text {
        line-height: 5.2rem;
        padding-left: 5rem;
        padding-right: 5rem;
        padding-top: 100px;
    }

    .presentation-text h1 {
        font-size: 140px;
    }

    .presentation-text h1 img {
        width: 2.1rem;
        bottom: 1rem;
        left: 11.2rem;
    }

    .presentation-text h2 {
        font-size: 54px;
        height: 8.5rem;
        margin-left: 2.5rem;
    }

    .presentation-text span {
        font-size: 29px;
    }

    .presentation-text span img {
        width: 0.8rem;
        bottom: 2.8rem;
        left: 11.3rem;
    }

    .presentation-text img {
        width: 30rem;
        left: 23.5rem;
        bottom: 4rem;
    }

    /* INFO */

    .skills {
        height: 14rem;
        font-size: 28px;
        line-height: 3.5rem;
    }

    .pic img {
        width: 24rem;
    }

    .complete-name {
        bottom: -3rem;
        left: 0.5rem;
        font-size: 15px;
    }
    
    .complete-name img {
        width: 0.8rem;
    }

    .down-arrow {
        width: 6rem;
        bottom: -2rem;
        left: 14rem;
    }

}

@media (max-width: 1150px) {

    .more {
        padding: 6rem 3rem 2rem 3rem;
        font-size: 24px;
        line-height: 3.5rem;
    }

}

@media (max-width: 1100px) {

    /* INFO */

    .skills {
        height: 12rem;
        font-size: 26px;
        line-height: 3rem;
        padding: 1.5rem;
    }

    .pic img {
        width: 20rem;
    }

    .complete-name {
        bottom: -2.7rem;
        left: 0.5rem;
        font-size: 13px;
    }
    
    .complete-name img {
        width: 0.6rem;
    }

    .down-arrow {
        width: 5rem;
        bottom: -2rem;
        left: 12rem;
    }

}

@media (max-width: 1000px) {

    /* TITULO */

    .presentation-text {
        line-height: 3.8rem;
        height: 50%;
        padding-left: 5rem;
        padding-right: 5rem;
        padding-top: 100px;
    }

    .presentation-text h1 {
        font-size: 100px;
    }

    .presentation-text h1 img {
        width: 1.4rem;
        bottom: 0.8rem;
        left: 8rem;
    }

    .presentation-text h2 {
        font-size: 38px;
        height: 6rem;
        margin-left: 1.8rem;
    }

    .presentation-text span {
        font-size: 20px;
    }

    .presentation-text span img {
        width: 0.6rem;
        bottom: 2rem;
        left: 7.8rem;
    }

    .presentation-text img {
        width: 22rem;
        left: 16.5rem;
        bottom: 2.6rem;
    }

    /* MORE */

    .more {
        padding: 6rem 3rem 2rem 3rem;
        font-size: 20px;
        line-height: 3rem;
    }

    /* CALL TO ACTION */

    .call-to-action {
        padding: 4rem;
    }

    .container-question {
        border: solid #ffff 4px;
        border-radius: 5rem;
        padding: 0.4rem;
        width: 32rem;
        font-size: 34px;
    }

    .phrase {
        margin: 3rem;
        font-size: 26px;
        line-height: 3.5rem;
    }

    .btn-meetings {
        border-radius: 5rem;
        padding: 0.5rem;
        font-size: 24px;
        width: 16rem;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }

    .btn-plans {
        border-radius: 5rem;
        border: solid #497078 2px;
        padding: 0.5rem;
        font-size: 24px;
        width: 16rem;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }

}

@media (max-width: 900px) {

    /* INFO */

    .skills {
        height: 10rem;
        font-size: 20px;
        line-height: 2.5rem;
        padding: 1.5rem;
    }

    .pic img {
        width: 18rem;
    }

    .complete-name {
        bottom: -2.2rem;
        left: 0.5rem;
        font-size: 10px;
    }
    
    .complete-name img {
        width: 0.6rem;
    }

    .down-arrow {
        width: 4rem;
        bottom: -0.8rem;
        left: 9.5rem;
    }
}

@media (max-width: 850px) {

    .more {
        padding: 3rem 3rem 1rem 3rem;
        font-size: 18px;
        line-height: 3rem;
    }

    /* CALL TO ACTION */

    .call-to-action {
        padding: 4rem;
    }

    .container-question {
        border: solid #ffff 4px;
        border-radius: 5rem;
        padding: 0.4rem;
        width: 28rem;
        font-size: 30px;
    }

    .phrase {
        margin: 2rem;
        font-size: 22px;
        line-height: 3rem;
    }

    .btn-meetings {
        border-radius: 5rem;
        padding: 0.5rem;
        font-size: 22px;
        width: 14rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .btn-plans {
        border-radius: 5rem;
        border: solid #497078 2px;
        padding: 0.5rem;
        font-size: 22px;
        width: 14rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

}

@media (max-width: 800px) {

    /* TITULO */

    .presentation-text {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        padding-top: 100px;
    }

    /* MORE */

    .more {
        padding: 3rem 2rem 1rem 2rem;
        font-size: 16px;
        line-height: 2.5rem;
    }

}

@media (max-width: 750px) {

    /* INFO */

    .skills {
        height: 8rem;
        font-size: 18px;
        line-height: 2.2rem;
        padding: 1.5rem;
    }

    .pic img {
        width: 16rem;
    }

    .complete-name {
        bottom: -2.2rem;
        left: 0.5rem;
        font-size: 10px;
    }
    
    .complete-name img {
        width: 0.6rem;
    }
}

@media (max-width: 710px) {

    /* CALL TO ACTION */

    .call-to-action {
        padding: 4rem;
    }

    .container-question {
        border: solid #ffff 4px;
        border-radius: 5rem;
        padding: 0.4rem;
        width: 22rem;
        font-size: 24px;
    }

    .phrase {
        margin: 2rem;
        font-size: 17px;
        line-height: 2.5rem;
    }

    .btn-meetings {
        border-radius: 5rem;
        padding: 0.5rem;
        font-size: 17px;
        width: 11rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .btn-plans {
        border-radius: 5rem;
        border: solid #497078 2px;
        padding: 0.5rem;
        font-size: 17px;
        width: 11rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

}

@media (max-width: 700px) {

    /* TITULO */

    .presentation-text {
        line-height: 5rem;
        height: 50%;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        padding-top: 100px;
    }

    .presentation-text h1 {
        font-size: 140px;
    }

    .presentation-text h1 img {
        width: 2.2rem;
        bottom: 0.9rem;
        left: 11.1rem;
    }

    .presentation-text h2 {
        font-size: 53px;
        height: 15.5rem;
        margin-left: 2.5rem;
    }

    .presentation-text span {
        font-size: 32px;
        position: absolute;
        left: -2rem;
        bottom: -1rem;
    }

    .presentation-text span img {
        width: 1rem;
        bottom: 2.6rem;
        left: 12.4rem;
    }

    .presentation-text img {
        width: 36rem;
        left: -4rem;
        bottom: 2.6rem;
    }

    /* INFO */

    .presentation-info {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .skills {
        height: 10rem;
        width: 100%;
        font-size: 20px;
        line-height: 2.2rem;
        padding: 1.5rem;
        margin-top: 1rem;
    }

    .pic {
        width: 100%;
        justify-content: flex-end;
        padding-right: 3rem;
    }

    .pic img {
        width: 16rem;
    }

    .complete-name {
        bottom: -2.2rem;
        left: 0.5rem;
        font-size: 10px;
    }
    
    .complete-name img {
        width: 0.6rem;
    }

    .arrow-about-me {
        display: block;
    }

    .arrow-about-me {
        width: 14rem!important;
        position: absolute;
        bottom: 13rem;
        left: 4rem;
    }

    .down-arrow {
        width: 5rem;
        bottom: -6rem;
        left: 10rem;
    }

    /* MORE */

    .more {
        padding: 8rem 1.5rem 3rem 1.5rem;
        font-size: 20px;
        line-height: 2.5rem;
    }

    .hide {
        display: none;
    }

    .visible {
        display: inline-block;
    }

}

@media (max-width: 650px) {

    /* MORE */

    .more {
        padding: 9rem 1.5rem 3rem 1.5rem;
        font-size: 18px;
        line-height: 2rem;
    }

}

@media (max-width: 620px) {

    /* CALL TO ACTION */

    .call-to-action {
        padding: 4rem 0rem 4rem 0rem;
    }

    .container-question {
        border: solid #ffff 2px;
        border-radius: 5rem;
        padding: 0.4rem;
        width: 18rem;
        font-size: 20px;
    }

    .phrase {
        margin: 1.5rem;
        font-size: 13px;
        line-height: 2rem;
    }

    .btn-meetings {
        border-radius: 5rem;
        padding: 0.5rem;
        font-size: 13px;
        width: 9rem;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    .btn-plans {
        border-radius: 5rem;
        border: solid #497078 2px;
        padding: 0.5rem;
        font-size: 13px;
        width: 9rem;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

}

@media (max-width: 600px) {

    /* TITULO */

    .presentation-text {
        line-height: 4.5rem;
        height: 50%;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        padding-top: 100px;
    }

    .presentation-text h1 {
        font-size: 120px;
    }

    .presentation-text h1 img {
        width: 1.8rem;
        bottom: 0.9rem;
        left: 9.6rem;
    }

    .presentation-text h2 {
        font-size: 48px;
        height: 14.5rem;
        margin-left: 2rem;
    }

    .presentation-text span {
        font-size: 29px;
        position: absolute;
        left: -1.2rem;
        bottom: -1rem;
    }

    .presentation-text span img {
        width: 1rem;
        bottom: 2.5rem;
        left: 11.3rem;
    }

    .presentation-text img {
        width: 32rem;
        left: -3rem;
        bottom: 2.6rem;
    }

    /* INFO */

    .presentation-info {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .skills {
        height: 10rem;
        width: 100%;
        font-size: 20px;
        line-height: 2.2rem;
        padding: 1.5rem;
        margin-top: 1rem;
    }

    .pic {
        width: 100%;
        justify-content: flex-end;
        padding-right: 3rem;
    }

    .pic img {
        width: 15rem;
    }

    .complete-name {
        bottom: -2.2rem;
        left: 0.5rem;
        font-size: 10px;
    }
    
    .complete-name img {
        width: 0.6rem;
    }

    .arrow-about-me {
        display: block;
    }

    .arrow-about-me {
        width: 12rem!important;
        position: absolute;
        bottom: 13.5rem;
        left: 3.8rem;
    }

}

@media (max-width: 550px) {

    /* TITULO */

    .presentation-text {
        line-height: 3.6rem;
        height: 50%;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        padding-top: 100px;
    }

    .presentation-text h1 {
        font-size: 90px;
    }

    .presentation-text h1 img {
        width: 1.3rem;
        bottom: 0.8rem;
        left: 7.2rem;
    }

    .presentation-text h2 {
        font-size: 34px;
        height: 11rem;
        margin-left: 1.6rem;
    }

    .presentation-text span {
        font-size: 21px;
        position: absolute;
        left: -1.2rem;
        bottom: -0.3rem;
    }

    .presentation-text span img {
        width: 0.7rem;
        bottom: 1.9rem;
        left: 8.1rem;
    }

    .presentation-text img {
        width: 23rem;
        left: -2.3rem;
        bottom: 2.6rem;
    }

    /* INFO */

    .presentation-info {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .skills {
        height: 10rem;
        width: 100%;
        font-size: 20px;
        line-height: 2.2rem;
        padding: 1.5rem;
        margin-top: 1rem;
    }

    .pic {
        width: 100%;
        justify-content: flex-end;
        padding-right: 3rem;
    }

    .pic img {
        width: 12rem;
    }

    .complete-name {
        bottom: -2.2rem;
        left: 0.5rem;
        font-size: 10px;
    }
    
    .complete-name img {
        width: 0.6rem;
    }

    .arrow-about-me {
        display: block;
    }

    .arrow-about-me {
        width: 11rem!important;
        position: absolute;
        bottom: 12.5rem;
        left: 3rem;
    }

    /* MORE */

    .more {
        padding: 9rem 1.5rem 3rem 1.5rem;
        font-size: 16px;
        line-height: 2rem;
    }

}

@media (max-width: 500px) {

    /* MORE */

    .more {
        padding: 8rem 1rem 3rem 1rem;
        font-size: 14px;
        line-height: 1.8rem;
    }

}

@media (max-width: 470px) {

    /* TITULO */

    .presentation-text {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 100px;
    }

    /* INFO */

    .presentation-info {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .skills {
        height: 8rem;
        width: 100%;
        font-size: 18px;
        line-height: 2.2rem;
        padding: 1.5rem;
        margin-top: 1rem;
    }

    .pic {
        width: 100%;
        justify-content: flex-end;
        padding-right: 3rem;
    }

    .pic img {
        width: 11rem;
    }

    .complete-name {
        bottom: -2.2rem;
        left: 0.5rem;
        font-size: 10px;
    }
    
    .complete-name img {
        width: 0.6rem;
    }

    .arrow-about-me {
        display: block;
    }

    .arrow-about-me {
        width: 10rem!important;
        position: absolute;
        bottom: 10.5rem;
        left: 2rem;
    }

    .down-arrow {
        width: 4rem;
        bottom: -5rem;
        left: 9rem;
    }

}

@media (max-width: 420px) {

    /* TITULO */

    .presentation-text {
        line-height: 2.6rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 100px;
    }

    .presentation-text h1 {
        font-size: 70px;
    }

    .presentation-text h1 img {
        width: 1rem;
        bottom: 0.5rem;
        left: 5.6rem;
    }

    .presentation-text h2 {
        font-size: 27px;
        height: 9.5rem;
        margin-left: 1.2rem;
    }

    .presentation-text span {
        font-size: 18px;
        position: absolute;
        left: -1rem;
        bottom: 0.5rem;
    }

    .presentation-text span img {
        width: 0.7rem;
        bottom: 1.4rem;
        left: 6.9rem;
    }

    .presentation-text img {
        width: 19rem;
        left: -2rem;
        bottom: 2.6rem;
    }

    /* INFO */

    .presentation-info {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .skills {
        height: 7rem;
        width: 100%;
        font-size: 16px;
        line-height: 2rem;
        padding: 1.5rem;
        margin-top: 1rem;
    }

    .pic {
        width: 100%;
        justify-content: flex-end;
        padding-right: 3rem;
    }

    .pic img {
        width: 10rem;
    }

    .complete-name {
        bottom: -2.2rem;
        left: 0.5rem;
        font-size: 10px;
    }
    
    .complete-name img {
        width: 0.6rem;
    }

    .arrow-about-me {
        display: block;
    }

    .arrow-about-me {
        width: 9rem!important;
        position: absolute;
        bottom: 10rem;
        left: 2rem;
    }

    /* MORE */

    .more {
        padding: 7rem 1rem 2rem 1rem;
        font-size: 12px;
        line-height: 1.6rem;
    }

}

@media (max-width: 390px) {

    /* TITULO */

    .presentation-text {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    /* INFO */

    .presentation-info {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .skills {
        height: 6rem;
        width: 100%;
        font-size: 14px;
        line-height: 1.5rem;
        padding: 1.5rem;
        margin-top: 1rem;
    }

    .pic {
        width: 100%;
        justify-content: flex-end;
        padding-right: 3rem;
    }

    .pic img {
        width: 10rem;
    }

    .complete-name {
        bottom: -1.6rem;
        left: 0.5rem;
        font-size: 10px;
    }
    
    .complete-name img {
        width: 0.6rem;
    }

    .arrow-about-me {
        display: block;
    }

    .arrow-about-me {
        width: 8rem!important;
        position: absolute;
        bottom: 9rem;
        left: 1.7rem;
    }

    /* CALL TO ACTION */

    .call-to-action {
        padding: 4rem 0rem 4rem 0rem;
    }

    .container-question {
        border: solid #ffff 2px;
        border-radius: 5rem;
        padding: 0.4rem;
        width: 14rem;
        font-size: 16px;
    }

    .phrase {
        margin: 1rem;
        font-size: 10px;
        line-height: 1.5rem;
    }

    .btn-meetings {
        border-radius: 5rem;
        padding: 0.5rem;
        font-size: 10px;
        width: 7.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .btn-plans {
        border-radius: 5rem;
        border: solid #497078 2px;
        padding: 0.5rem;
        font-size: 10px;
        width: 7.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

}

@media (max-width: 370px) {

    /* INFO */

    .presentation-info {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .skills {
        height: 6rem;
        width: 100%;
        font-size: 14px;
        line-height: 1.5rem;
        padding: 1.5rem;
        margin-top: 1rem;
    }

    .pic {
        width: 100%;
        justify-content: flex-end;
        padding-right: 3rem;
    }

    .pic img {
        width: 9.5rem;
    }

    .complete-name {
        bottom: -1.6rem;
        left: 0.5rem;
        font-size: 10px;
    }
    
    .complete-name img {
        width: 0.6rem;
    }

    .arrow-about-me {
        display: block;
    }

    .arrow-about-me {
        width: 7.5rem!important;
        position: absolute;
        bottom: 9rem;
        left: 1.7rem;
    }

    .down-arrow {
        width: 3rem;
        bottom: -4.5rem;
        left: 7rem;
    }

    /* MORE */

    .more {
        padding: 6rem 0.6rem 2rem 0.6rem;
        font-size: 11px;
        line-height: 1.4rem;
    }

}

@media (max-width: 330px) {

    /* MORE */

    .more {
        padding: 6rem 0.6rem 2rem 0.6rem;
        font-size: 10px;
        line-height: 1.2rem;
    }

}