* {
    margin: 0px;
    box-sizing: border-box;
    font-weight: normal;
}

body {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

/* NAV */

.container-navbar {
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
    position: fixed;
    overflow: hidden;
    top: 0px;
    width: 100%;
    background-color: rgba(255,255,255, 0.9);
    z-index: 10;
}

.container-navbar ul li span {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.container-navbar ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0px;
    width: 100%;
    margin: 0px;
    margin-left: 8rem;
    margin-right: 8rem;
}

.container-navbar ul li {
    font-size: 26px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.container-navbar ul li:hover {
    transform: scale(1.05);
}

.container-navbar ul li a {
    color: #497078;
    text-decoration: none;
}

.container-navbar ul li a:hover {
    color: #497078;
    text-decoration: none;
}

.home {
    background-color: transparent;
    border: none;
    transform: rotate(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 5%;
    position: absolute;
    left: 0rem;
}

.home img {
    width: 3rem;
}

.home-mobile {
    display: none;
}

/* BURGER */

#burger-open, #burger-close {
    display: none;
    position: fixed;
}

.home-brg {
    display: none;
}

/* HEADER */

header {
    color: #497078;
    height: 100vh;
}

header .container-title {
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: flex-end;
}

header .title {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

header .title img {
    width: 500px;
    padding: 0rem;
}

header .title hr {
    border: 2px solid #497078;
}

header .title .line-1 {
    width: 5%;
}

header .title .line-2 {
    width: 100%;
    margin-left: 50px;
}

header .title h1 {
    font-size: 35px;
    width: 100%;
    margin: 0px;
}

header .foot {
    display: flex;
    height: 50%;
    background-color: #497078;
    color: white;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    overflow: hidden;
}

header .foot h2 {
    font-size: 40px;
    width: 0px;
}

header .foot .container-img {
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
    margin-left: 40%;
    width: auto;
    height: 100%;
}

header .foot .container-img img {
    object-fit: cover;
    height: 100%;
}

/* MAIN */

/* Primer bolque de contenido */

main .first-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30rem;
    background-color: #8aa9a7;
    padding-right: 10%;
    position: relative;
}

main .first-content .container-first-text {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    width: 100vw;
    height: 100%;
    align-items: center;
    justify-content: center;
}

main .first-content .container-first-text h1 {
    font-size: 56px;
    margin: 0px;
}

main .first-content .smile {
    width: 6%;
    margin-left: 1%;
}

main .first-content .underline {
    height: 6%;
    width: 410px;
    margin-bottom: 2%;
    transform: rotate(3deg);
}

main .first-content .container-first-text p {
    margin: 0px;
    font-size: 26px;
    width: 90%;
}

main .first-content .container-tablet {
    height: 100%;
    width: 40vw;
    display: flex;
    align-items: center;
}

main .first-content .container-tablet .tablet {
    height: 120%;
    object-fit: contain;
}

main .first-content button {
    display: none;
    position: absolute;
    bottom: 15%;
    background: transparent;
    border: 2px solid #497078;
    color: #497078;
    border-radius: 100px;
    width: 180px;
    height: 40px;
    font-size: 18px;
}

/* Segundo bloque de contenido */

main .second-content {
    display: flex;
    justify-content: space-between;
    height: 80vh;
    background-color: white;
    padding-right: 7%;
    padding-left: 7%;
    padding-bottom: 2%;
}

/* FORMULARIO DE CONTACTO */

main .container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 35%;
    color: #497078;
    padding: 1%;
    z-index: 1;
}

main .container-form form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

main .container-form form input, textarea {
    margin-bottom: 2.5px;
    margin-top: 2.5px;
    border: 2px solid #497078;
    border-radius: 8px;
    padding: 10px;
    width: 90%;
    resize: none;
    font-family: 'Montserrat';
}

main .container-form .container-title-form {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 90px;
    position: relative;
    justify-content: center;
    margin-bottom: 25px;
    margin-top: 25px;
}

main .container-form h2 {
    font-size: 40px;
    margin: 0px;
}

main .container-form form p {
    font-size: 25px;
    margin: 0px;
}

main .container-form .underline-form {
    position: absolute;
    bottom: 5%;
    right: 0;
    width: 30%;
}

main .container-form .arrow-form {
    position: absolute;
    top: 0;
    right: 15%;
    transform: rotate(-5deg);
    width: 20%;
}

main .container-form button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    width: 30%;
    height: 45px;
    background-color: #497078;
    border: none;
    border-radius: 5px;
    color: white;
}

#mimail {
    opacity: 0;
}

/* TEXTO */

main .second-content .container-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

main .second-content .container-text .container-second-text {
    display: flex;
    font-size: 35px;
    align-items: center;
}

main .second-content .container-text .container-second-text .rotate {
    writing-mode: vertical-rl;
    left: 0;
    font-size: 60px;
    transform: rotate(-180deg);
    color: #497078;
}

main .second-content .container-text .container-second-text .rotate span {
    font-size: 70px;
}

main .second-content .container-text .container-second-text ul {
    list-style: none;
    color: #cfe1e6;
    padding: 0px;
    margin-bottom: 70px;
    position: absolute;
    padding-left: 80px;
}

main .second-content .container-text .container-extra-text {
    font-size: 60px;
    display: flex;
    color: #497078;
    padding-left: 80px;
    padding-top: 350px;
    position: absolute;
    width: 80%;
}

main .second-content .container-text .container-extra-text .extra-text {
    height: 50px;
}

main .second-content .container-text .container-extra-text .extra-text .p1 {
    margin: 0px;
    position: absolute;
    bottom: 10%;
}

main .second-content .container-text .container-extra-text .extra-text .p2 {
    margin: 0px;
    margin-top: 1%;
    position: absolute;
}

/* FOOTER */

footer {
    background-color: #497078;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

footer .icon {
    width: 60px;
}

footer .container-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer .container-icons img {
    width: 50px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

footer .container-icons img:hover {
    transform: scale(1.05);
}

@media (max-width: 1500px) {

    /* NAV */

    .container-navbar {
        height: 70px;
    }
    
    /* HEADER */

    header .foot {
        padding-right: 0%;
    }

    header .foot h2 {
        font-size: 30px;
    }

    /* MAIN */

    main .first-content .container-tablet {
        justify-content: center;
    }

    main .first-content .container-first-text h1 {
        font-size: 250%;
    }

    main .first-content .container-first-text p {
        font-size: 110%;
    }

    main .first-content .underline {
        width: 300px;
    }

    main .second-content .container-text .container-second-text {
        font-size: 23px;
    }

    main .second-content .container-text .container-second-text .rotate {
        font-size: 40px;
    }

    main .second-content .container-text .container-second-text .rotate span {
        font-size: 50px;
    }

    main .second-content .container-text .container-extra-text {
        font-size: 40px;
        padding-top: 230px;
        padding-left: 60px;
    }

    main .second-content .container-text .container-second-text ul {
        margin-bottom: 55px;
        padding-left: 60px;
    }

    main .container-form h2 {
        font-size: 30px;
    }

    main .container-form form p {
        font-size: 20px;
    }

    main .container-icons img {
        width: 50px;
    }

    main .container-form .underline-form img {
        width: 80px;
    }
    
    main .container-form .arrow-form img {
        width: 70px;
    }

    main .container-form .container-title-form {
        height: 70px;
    }


}

@media (max-width: 1100px) {

    /* NAV */

    .container-navbar ul {
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .container-navbar ul li {
        padding-left: 60px;
        padding-right: 60px;
        font-size: 22px;
    }

    .home img {
        width: 2rem;
    }

    /* MAIN */

    main .container-form {
        width: 35%;
    }

    main .container-form .container-title-form {
        height: 50px;
    }

    main .container-form h2 {
        font-size: 22px;
    }

    main .second-content .container-text .container-second-text {
        font-size: 18px;
    }

    main .second-content .container-text .container-second-text .rotate {
        font-size: 30px;
    }

    main .second-content .container-text .container-second-text .rotate span {
        font-size: 35px;
    }

    main .second-content .container-text .container-extra-text {
        font-size: 30px;
        padding-top: 160px;
        padding-left: 45px;
    }

    main .second-content .container-text .container-second-text ul {
        margin-bottom: 45px;
        padding-left: 50px;
    }

    main .container-icons img {
        width: 40px;
    }

    main .second-content .container-text .container-extra-text {
        padding-top: 190px;
        padding-left: 45px;
    }

    main .second-content .container-text .container-extra-text .extra-text .p1 {
        bottom: 15%;
    }

}

@media (max-width: 900px) {

    /* NAV */

    .container-navbar {
        display: none;
    }

    .home {
        display: none;
    }

    .home-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4rem;
        transform: rotate(360deg);
    }

    .home-mobile img {
        width: 3rem;
    }

    /* BURGER */

    .container-burger {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 60px;
        position: fixed;
        width: 100%;
        z-index: 10;
    }

    .container-open {
        width: 100%;
        height: 5rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: rgba(255,255,255, 0.9);
    }

    #burger-open, #burger-close {
        display: flex;
        align-items: center;
        justify-self: center;
        background: transparent;
        border: none;
        padding-left: 1rem;
        padding-right: 1rem;
        height: 5rem;
    }

    #burger-open img, #burger-close img {
        width: 2.5rem;
    }

    #nav-bar {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        background-color: white;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        width: 60vw;
        height: 100vh;
        justify-content: flex-start;
        z-index: 1;
    }

    #nav-bar.visible {
        opacity: 1;
        visibility: visible;
    }

    #nav-bar ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: 100%;
        width: 100%;
        margin: 0px;
        padding-bottom: 10px;
        padding-top: 50px;
    }

    #nav-bar ul li {
        font-size: 16px;
        padding: 0px;
        border-bottom: 1px solid #8aa3b8;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
    }

    .home-brg {
        display: block;
    }


    /* HEADER */

    header .foot .container-img {
        margin-left: 50%;
    }

}

@media (max-width: 800px) {

    .line-1 {
        display: none;
    }

    .line-2 {
        margin-left: 2%!important;
    }

    header .title img {
        width: 350px;
    }

    header .title h1 {
        font-size: 24px;
    }

    .first-content {
        padding: 0%!important;
        flex-direction: column;
        padding-top: 8%!important;
    }

    .first-content .container-first-text {
        justify-content: flex-start!important;
    }

    .first-content .container-tablet {
        display: none!important;
    }
    
    main .first-content button {
        display: block;
    }

    .second-content {
        justify-content: center!important;
        padding: 0px!important;
        flex-direction: column;
        align-items: center; 
        height: 70vh!important;
    }

    .second-content .container-form {
        width: 50%;
    }

    .second-content .container-form .container-title-form {
        height: 60px;
    }

    .second-content .container-form .container-title-form h2 {
        font-size: 28px;
    }

    .second-content .container-text {
        display: none!important;
    }

    .second-content .container-icons {
        flex-direction: row;
        align-items: flex-end;
    }

    .second-content .container-icons img {
        width: 60px;
    }

    .second-content .container-icons a {
        padding: 20px;
    }

     /* Footer */

     footer .container-icons {
        width: 40%;
    }

}

@media (max-width: 600px) {

    .second-content .container-form {
        width: 80%;
    }

}

@media (max-width: 500px) {

    /* HEADER */

    .line-2 {
        display: none;
    }

    header .container-title {
        height: 45%;
        align-items: flex-start;
    }

    header .title {
        width: 100%;
        justify-content: center;
        overflow: hidden;
    }

    header .title img {
        width: 300px!important;
    }

    header .title h1 {
        font-size: 20px!important;
        margin-right: 10px!important;
    }

    header .foot {
        height: 55%;
    }

    header .foot .container-img {
        content: url("../../assets/libs/img/agua-mobile.png");
        margin-right: 0px;
        margin-left: 60%;
    }

    header .foot h2 {
        font-size: 26px;
    }
    
    /* MAIN */

    main .first-content {
        padding: 0px!important;
        padding-top: 20%!important;
        height: 25rem;
    }

    main .first-content .container-first-text {
        overflow: hidden;
    }

    main .first-content .container-first-text h1 {
        font-size: 28px;
    }

    main .first-content .container-first-text p {
        font-size: 14px;
    }

    main .first-content .underline {
        width: 230px!important;
    }

    main .first-content .smile {
        width: 6%;
    }

    main .second-content .container-form {
        overflow: hidden;
    }

    /* Footer */

    footer .container-icons {
        width: 50%;
    }

}

@media (max-width: 380px) {



    header .title img {
        width: 255px!important;
    }

    header .title h1 {
        font-size: 19px!important;
    }

    /* Footer */

    footer .container-icons {
        width: 60%;
    }

}

@media (max-width: 350px) {

    header .title img {
        width: 245px!important;
    }

    header .title h1 {
        font-size: 18px!important;
    }

    header .foot h2 {
        font-size: 25px;
    }

    .second-content .container-form {
        width: 90%;
    }

}

@media (max-width: 330px) {

    header .title img {
        width: 230px!important;
    }

    header .title h1 {
        font-size: 16px!important;
    }

}

@media (max-width: 310px) {

    /* HEADER */

    header .title img {
        width: 200px!important;
    }

    header .title h1 {
        font-size: 15px!important;
    }

    header .foot h2 {
        font-size: 18px;
    }

    /* MAIN */

    main .first-content .container-first-text h1 {
        font-size: 20px;
    }

    main .first-content .container-first-text p {
        font-size: 12px;
    }

    main .second-content .container-form .container-title-form h2 {
        font-size: 24px;
    }
}